body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f7f7f7 !important;
}

.principal-container {
  padding: 1% 10% 2% 10%;
}

/**
 * Resume Styles
 */
.resume-container {
  padding: 1%;
  background-color: #f7f7f7;
}

.ui.items>.item>.image>img {
  border: 3px solid #d0dadc !important;
}

.ui.cv-progres-color.progress .bar {
  background-color: #5bcf80;
}
